{% extends "parent.html" %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <!-- <div class="col-2"> -->
            <a href="{% url 'insertPage' %}">Insert Student</a>
        <!-- </div> -->
        <div class="col-7 mx-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in object_list  %}
                      <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.contact }}</td>
                            <td>{{ student.city }}</td>
                            <td><a href="{% url 'deleteStudent' student.id %}" class="btn btn-danger">Del</a></td>
                            <td><a href="{% url 'StudentEditView' student.id %}" class="btn btn-danger">Edit</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

  
{% endblock content %}